<!DOCTYPE html>
<html>
<body>

<p><strong>Oops!We tried to authorize your card for your {{ campaign_name }} Direct Mail Campaign scheduled to drop {{ drop_date }}.The authorization failed.</strong></p>

<p>Please update your credit card no later than {{ drop_date }} in order to have your campaign delivered on time.If we are unable to successfully charge your card by that time,this campaign will be saved as draft and will not be sent for processing.</p>

<p><strong>Campaign=</strong><a href="{{ site.domain }}/campaign/dm/{{ campaign_id }}/details">{{ campaign_name}}</a></p>

<p>Thanks for using our software!</p>

<p>The Sherpa Frontend Team</p>

</body>
</html>