{% load humanize %}

{% if upload_litigator_check.status == 'complete'  %}
<h1 class="text-center"><i class="fa fa-check-circle" style="color:#65C8CE; margin-bottom: 20px;"></i> Scrub Litigator List</h1>
{% else %}
<h1 class="text-center"><i class="fa fa-spin fa-spinner" style="color:#65C8CE; margin-bottom: 20px;"></i> Scrub Litigator List</h1>
{% endif %}

<p class="text-center"><strong>File:</strong> {{ upload_litigator_check.uploaded_filename }}</p>

{% if upload_litigator_check.status == 'litigator scrub'  %}
<p class="text-center"><strong>Status:</strong> {{ upload_litigator_check.status }} ({{ upload_litigator_check.last_row_processed|intcomma }} of {{ upload_litigator_check.total_rows|intcomma }})</p>
{% elif upload_litigator_check.status == 'validating' %}
<p class="text-center"><strong>Status:</strong> {{ upload_litigator_check.status }} ({{ upload_litigator_check.total_validated_addresses|intcomma }} of {{ upload_litigator_check.total_rows|intcomma }})</p>
{% else %}
<p class="text-center"><strong>Status:</strong> {{ upload_litigator_check.status }}</p>
{% endif %}

<p class="text-center"><strong>Total Records:</strong> {{ upload_litigator_check.total_rows|intcomma }}</p>
<p class="text-center"><strong>Phone Numbers:</strong> {{ upload_litigator_check.total_phone_numbers|intcomma }}</p>
<p class="text-center"><strong>Serial Litigators:</strong> {{ upload_litigator_check.total_litigators|intcomma }}</p>
<p class="text-center"><strong>Pre-Litigators:</strong> {{ upload_litigator_check.total_complainers|intcomma }}</p>
<p class="text-center"><strong>Litigator Associates:</strong> {{ upload_litigator_check.total_associated|intcomma }}</p>


{% if upload_litigator_check.status == 'complete'  %}
<div class="text-center" style="margin-top: 30px;">
    <a href="{% url 'check_litigator_export' upload_litigator_check.token %}" class="btn btn-primary btn-lg"><i class="fa fa-download"></i> Download Results</a>
</div>
{% else %}
<div class="text-center" style="margin-top: 30px;">
    <button class="btn btn-default btn-lg" disabled><i class="fa fa-download"></i> Download Results</button>
</div>
{% endif %}
