<!DOCTYPE html>
<html>
<body>

<p><strong>Your Direct Mail Campaign {{ campaign_name }} is scheduled to be sent {{ drop_date }}.</strong></p>

<p>This campaign will be locked from future changes or cancellations 48 hrs prior to sending. If you need to make any updates please do so within 48hrs.</p>

<p><strong>Edit Campaign Now =</strong><a href="{{ site.domain }}/campaign/dm/{{ campaign_id }}/details">{{ campaign_name}}</a></p>

<p>Thanks for using our software!</p>

<p>The Sherpa Frontend Team</p>

</body>
</html>