<!DOCTYPE html>
<html>
<body>

<p><strong>Your Direct Mail Campaign {{ campaign_name }} is scheduled to be sent {{ drop_date }} </strong></p>

<p>This campaign is now locked from future changes or cancellations.Start getting excited for your upcoming mailing to be dropped by {{ drop_date }} </p>

<p><strong>View Campaign Details =</strong><a href="{{ site.domain }}/campaign/dm/{{ campaign_id }}/details">{{ campaign_name}}</a></p>

<p>Thanks for using our software!</p>

<p>The Sherpa Frontend Team</p>

</body>
</html>